/*---Обнуление---*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6{ 
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    line-height: 1;
    height: 100%;
}
button, input{
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button{
    cursor: pointer;
    background-color: inherit;
}
/*------*/
body{
    font-family: Rubik;
    font-size: 0.875rem;
    color: #646d70;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*='__container']{
    max-width: 52.5rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}
/*---page---*/
.page{
    flex: 1 1 auto;
}
.page__main{}
.page__materials{}
.page__inovate{}
.page__info{}
/*---title---*/
.title{
    font-family: Merriweather;
    color: #fff;
    font-size: 1.875rem;
    line-height: 130%;
}
.title-dark{
    color: #222f33;
}
@media (max-width: 767.98px){
    .title{
        font-size: 24px;
    }
}
.text{
    line-height: 185%;
}
.text p:not(:last-child){
    margin-bottom: 15px;
}
/*---header---*/
.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: rgba(46, 46, 46, 0.7)
}
.header.scroll{
    background-color: rgba(0, 0, 0, 0.7);
}
.header__container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    /*min-height: 105px;*/
    min-height: 85px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__logo{
    overflow: hidden;
}
.header__logo img{
    width: 135px;
}
.header__body{
    display: flex;
    align-items: center;
    column-gap: 43px;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.menu__link:hover{
    text-decoration: underline;
}
.header__button{
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}
.header__button:hover{
    background-color: #272626;
}
@media (max-width: 625px){
    .header__container{
        min-height: 70px;
    }
    .header__logo{
        flex: 0 0 33px;
    }
    .menu__list{
        column-gap: 20px;
        font-size: 14px;
    }
    .header__button{
        padding: 10px 15px;
    }
    .header__body{
        column-gap: 20px;
    }
}
/*---main---*/
.main{
    min-height: 100vh;
    position: relative;
    display: flex;
}
.main__container{
    padding-top: 90px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    gap: 20px;
    flex: 1 1 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 54.320988% 1fr;
}
@media (max-width: 700px){
    .main__container{
        grid-template-columns: auto;
        align-content: center;
    }
}
.main__label{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.main__label:not(:last-child){
    margin-bottom: 12px;
}
.main__video-link{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.main__video-link::before{
    content: '';
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    border-radius: 50%;
    background: url('../image/main/video.svg') left no-repeat;
}
.main__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
}
.main__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media (min-width: 700px){
    .main__video-link{
        justify-self: center;
    }
    .main__image img{
        opacity: 0.6;
    }
}
/*---materials---*/
.swiper{
    overflow: hidden;
}
.swiper-initialized{
    touch-action: pan-y;
}
.swiper-wrapper{
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    flex-shrink: 0;
}
.materials{
    position: relative;
    z-index: 2;
}
.materials__container{
    position: relative;
    padding-bottom: 20px;
    z-index: 2;
    display: grid;
    grid-template-columns: 50% minmax(280px, 325px);
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    min-width: 0;
}
.materials__content{
    padding-top: 25px;
    display: grid;
    gap: 13px;
    justify-items: start;
}
.materials__more{
    border-radius: 4px;
    padding: 10px 14px;
    border: 1px solid #646d70;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.materials__more:hover{
    background-color: #acaeaf;
    color: #fff;
    border: 1px solid #acaeaf;
}
.materials__slider{
    transform: translate(0, -20.765027%);
}
.slider-materials{
    position: relative;
}
.slider-materials__slide{
    aspect-ratio: 325 / 366;
    position: relative;
}
.slider-materials__slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.slider-materials__pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 16px 5px;
    flex-wrap: wrap;
    gap: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.slider-materials__pagination .swiper-pagination-bullet{
    flex: 0 0 8px;
    height: 8px;
    background-color: #fff;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}
.slider-materials__pagination .swiper-pagination-bullet-active{
    opacity: 1;
}
@media (mim-width: 767.98px){
    .materials::before{
        content: '';
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        height: 37px;
        transform: translate(0px, -100%);
        width: 61.7%;
    }
    .materials::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 140px;
        width: 38.3%;
        background-color: #222f33;
    }
}
@media (max-width: 767.98px){
    .materials__container{
        grid-template-columns: auto;
    }
    .materials__slider{
        transform: 0;
    }
}
/*---inovate---*/
.inovate{
    background-color: #222f33;
    padding: 70px 0 80px 0;
}
.inovate__title:not(:last-child){
    margin-bottom: 8px;
}
.inovate__text{
    columns: 2 250px;
    gap: 43px;
    color: #fff;
    opacity: 0.7;
}
@media (max-width: 767.98px){
    .inovate{
        padding: 30px 0;
    }
}
/*---info---*/
.info{
    padding-top: 85px;
    padding-bottom: 85px;
}
.info__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 85px;
    row-gap: 30px;
}
.info__image{
    text-align: center;
}
.info__image img{
    max-width: 100%;
}
.info__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 37px;
}
.info__title{
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
    color: #222f33;
}
.info__title:not(:last-child){
    margin-bottom: 4px;
}
.info__text{
    font-size: 12px;
    opacity: 0.7;
}
@media (max-width: 840px){
    .info__container{
        column-gap: 25px;
    }
    .info__content{
        column-gap: 20px;
    }
}
@media (max-width: 767.98px){
    .info{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .info__container{
        grid-template-columns: auto;
    }
    .info__content{
        order: 1;
    }
    .info__image{
        order: 2;
    }
}
/*---footer---*/
.footer{
    background-color: #222f33;
    padding-top: 33px;
    padding-bottom: 33px;
}
.footer__container{
    display: grid;
    column-gap: 15px;
    row-gap: 20px;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
}
.footer__mail{
    opacity: 0.6;
    font-size: 12px;
    font-weight: 500;
}
.footer__mail:hover{
    text-decoration: underline;
}
.footer__logo{
    justify-self: center;
}
.menu-footer{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu-footer__link{
    opacity: 0.6;
    font-size: 12px;
    font-weight: 500;
}
.menu-footer__link:hover{
    text-decoration: underline;
}
@media (max-width: 600px){
    .footer__container{
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
}